body {
    width: 800px;
}
h1 {
    font-size: 130%;
    text-align: center;
}
li {
    margin-bottom: 15px;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.indent {
    padding-left: 36px
}
.clearboth {
    clear: both;
}
